.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: rgb(138, 33, 82);
}

main{
  height: 70vh;
  margin: 50px;
}
.books-container{
  width: 600px;
  height: 100%;
  margin: 0 auto;
}

.author{
  border-bottom: 1px solid grey;
}