.App {
  text-align: center;
}


.App-header {
  background-color: #ccc;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;

  h1 {
    font-family: cursive;
    margin: 20px 0;
  }
}

.App-link {
  color: #61dafb;
}

main {
  height: 70vh;
  overflow: auto;
  padding: 20px 0;
  background: #282c34
}

.books-container {
  width: 600px;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
  // border: 2px solid black;


  .books {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .book {
      padding: 10px;
      background: #ccc;
      border-radius: 50px;
      margin: 10px 0;

      display: flex;
      align-items: center;
      justify-content: space-between;

      // this is for left and right items
      & > * {
        width: 20%;
      }

      // mid item should take the rest
      .book-info {
        width: 60%;

        input {
          background: transparent;
          border: none;
          border-bottom: 1px groove #ccc;
          border-radius: 5px;
          text-align: center;
          font-size: inherit;
          font-family: inherit;
          width: 80%;
        }

        .book-title {
          font-size: 1.4rem;
          margin-bottom: 3px;
        }
        .book-author {
          font-size: 0.9rem;
        }
      }
      
      .book-actions {
        svg {
          margin: 4px;
          &:hover { color: rgb(142, 142, 209); }
        }
      }

    } // end of .book

  } // end of .books

  // book add form
  .book-add {

    display: flex;

    input, button {
      padding: 7px;
      border-radius: 25px;
      outline: none;
    }

    input {
      flex-grow: 1;
      background: #ccc;
      margin-right: 5px;

      &::placeholder {
        text-align: center;
        font-size: 1rem;
      }
    }
  } // end of .book-add

  // book filter form
  .book-filter {

    margin-bottom: 10px;

    input {
      background: #ccc;
      opacity: 0.9;
      border-radius: 25px;
      width: 100%;
      outline: none;
      padding: 10px;

      &::placeholder {
        text-align: center;
        font-size: 1rem;
      }
    }
  }

}


footer {
  height: 10vh;
  display: grid;
  place-items: center;
}